<h1>Log in</h1>

<%= form_with(url: login_path) do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, data: { testid: "login-email-input" } %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, data: { testid: "login-password-input" } %>
  </div>

  <div>
    <%= form.submit "Log in", data: { testid: "login-submit-button" } %>
  </div>
<% end %>
