<h1>New Review for <%= @course.name %></h1>

<%= form_with(model: [@course, @review]) do |form| %>
  <% if @review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rating %><br>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Create Review" %>
  </div>
<% end %>
